<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <script type="text/javascript" src="/static/JS/phaser.min.js"></script>
    <script type="text/javascript" src="/static/JS/MyGame.js?65454353453449465"></script>


    <style>
        body {
            padding: 0px;
            margin: 0px;
            background: black;
        }
    </style>

</head>

<body>

</body>

</html>
